<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Plans - Fusebox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Analytics -->
  <script>
    if (localStorage.getItem('vue-cookie-accept-decline') === 'accept') {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-121622159-1', 'auto');
      ga('send', 'pageview');
    }
  </script>

</head>
<body>
  <div id="app">
    <consent></consent>
    <site-header :data="data" bg="bg-plans" :is-plans="true"></site-header>

    <main class="bg-ice shadowt">
      <div class="maxw1080 mxauto pt30 pb20 mb20">
        <plan-list :data="data"></plan-list>
      </div>
    </main>

    <site-footer></site-footer>
  </div>
</body>
</html>