<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Plans - Fusebox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="app">
    <site-header :data="data" bg="bg-plans" :is-plans="true"></site-header>

    <main class="bg-ice shadowt">
      <div class="maxw1080 mxauto py30">
        <plan-list :plans="data.plans"></plan-list>
      </div>
    </main>
  </div>
</body>
</html>