// Config
// ===========================================================================

@import ./modules/minireset

@import ./modules/button
@import ./modules/colors
@import ./modules/flexbox
@import ./modules/loading
@import ./modules/spacing
@import ./modules/shadow
@import ./modules/tooltip
@import ./modules/typography

@import ./components/plan-list

// Base
// ===========================================================================

html, body
  font-size: 16px
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

a
  color: map-get($colors, 'teal')
  text-decoration: none
  &:hover
    text-decoration: underline

hr
  border-style: solid
  border-color: map-get($colors, 'fog') transparent transparent transparent


// Layout
// ===========================================================================

.maxw1080
  max-width: 1080px
.block
  display: block
.inline
  display: inline
.inline-b
  display: inline-block

#app
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1
